<footer>
  <div class="alcontainer">
    <div class="row">
      <div class="col-8">
        <div class="row">
          {% for block in section.blocks %}
            <div class="col-4">
              <h5>{{ block.settings.title }}</h5>
              <ul>
                {% for link in linklists[block.settings.menu].links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-4">
        <div class="footer-bottom">
          {% if section.settings.logo %}
            <a href="{{ routes.root_url }}" class="footer-logo">
              <img src="{{ section.settings.logo | img_url: '300x' }}" alt="{{ shop.name }}">
            </a>
          {% endif %}

          <div class="ald-social">
            {% if section.settings.instagram_link != blank %}
              <a href="{{ section.settings.instagram_link }}" target="_blank" aria-label="Instagram">
                <!-- Instagram -->
                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_514_7717)"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.5213 5.29102C24.5219 5.29102 25.3322 6.09861 25.3322 7.09582C25.3322 8.09303 24.5219 8.89926 23.5213 8.89926C22.5207 8.89926 21.7104 8.09167 21.7104 7.09582C21.7104 6.09997 22.5207 5.29102 23.5213 5.29102Z" fill="#867065"/><path fill-rule="evenodd" clip-rule="evenodd" d="M23.3394 15.1236C23.3394 10.6655 19.7135 7.05176 15.2403 7.05176C10.7671 7.05176 7.14124 10.6655 7.14124 15.1236C7.14124 19.5817 10.7671 23.1954 15.2403 23.1954C19.7135 23.1954 23.3394 19.5817 23.3394 15.1236ZM14.3137 9.81285C16.0575 9.50182 17.585 10.0325 18.7033 10.986C19.5451 11.6872 20.1693 12.6367 20.4609 13.7226C20.4992 13.8576 20.5307 13.994 20.558 14.1318C21.1918 17.4031 18.8019 20.0237 16.1889 20.4943C12.9093 21.085 10.3086 18.7277 9.83911 16.0621C9.36824 13.3897 10.8698 11.222 12.9052 10.263C13.2227 10.1116 13.5567 9.99019 13.9058 9.90152C14.0399 9.86742 14.1768 9.8374 14.3137 9.81285Z" fill="#867065"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.862 0.000488281C14.9805 0.000488281 14.0826 0.000488281 13.2121 0.000488281C10.3431 0.00730916 7.79441 0.037321 7.2469 0.113715C3.31165 0.662113 0.162081 3.7738 0.0498408 8.00274C-0.00217297 9.95897 -0.0487116 21.8764 0.111436 23.1069C0.613779 26.973 3.8619 30.0178 8.05448 30.2033C8.77993 30.2361 11.059 30.2579 13.6418 30.2634H16.0249C19.3442 30.2565 22.5499 30.2183 23.1959 30.1338C27.123 29.6208 30.2274 26.4259 30.3711 22.2174C30.4012 21.343 30.4245 18.5287 30.4272 15.5521V14.7595C30.4245 11.2713 30.3903 7.77629 30.2972 7.09011C29.7771 3.30043 26.5194 0.142363 22.324 0.0509628C21.4412 0.0318643 18.7433 0.00867333 15.8606 0.00185246L15.862 0.000488281ZM10.9659 2.61698C12.3018 2.60606 13.828 2.60879 15.2515 2.61698H21.9914C22.9619 2.61698 23.8762 2.85844 24.6811 3.28542C24.8535 3.37273 25.0205 3.47231 25.1848 3.58554C25.2094 3.60191 25.2341 3.61965 25.2587 3.63738C25.4476 3.76698 25.6269 3.90749 25.798 4.05891C26.622 4.77101 27.3475 5.7614 27.624 7.14604C27.7102 7.53892 27.7554 7.94681 27.7554 8.36561V9.71478C27.7759 11.3804 27.7677 13.6272 27.7554 15.6053V21.8819C27.7554 22.579 27.6294 23.2488 27.3981 23.8695C27.2681 24.261 27.0888 24.6416 26.841 25.0126C26.3127 25.808 25.5242 26.5801 24.4703 27.0657C23.7175 27.4259 22.877 27.6278 21.9901 27.6278H18.9322C17.9795 27.6332 16.9611 27.6319 15.9688 27.6278H8.3912C5.21973 27.6278 2.62589 25.0427 2.62589 21.8819V19.3077C2.61631 18.0253 2.61905 16.5779 2.62589 15.2124V8.36561C2.62589 5.20482 5.2211 2.61971 8.3912 2.61971H10.9645L10.9659 2.61698Z" fill="#867065"/></g><defs><clipPath id="clip0_514_7717"><rect width="30.4253" height="30.2642" fill="white"/></clipPath></defs></svg>              </a>
            {% endif %}

            {% if section.settings.facebook_link != blank %}
              <a href="{{ section.settings.facebook_link }}" target="_blank" aria-label="Facebook">
                <!-- Facebook -->
                <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8688 5.02364V0.000279739H13.4283C11.1028 -0.011506 9.09974 0.344687 7.56535 1.9122C4.99802 4.53519 5.46941 7.70687 5.44618 11.8777L0.0382572 11.9249L0 17.7012L5.39563 17.7065L5.45574 32L11.8925 31.9948L11.9349 17.7588L16.6692 17.6986L17.6584 11.9275L11.9431 11.917C11.9021 10.3128 11.5605 7.21056 12.4623 6.15639C13.2001 5.29341 14.1606 5.07079 15.2851 5.02233H17.8688V5.02364Z" fill="#867065"/></svg>
              </a>
            {% endif %}

            {% if section.settings.youtube_link != blank %}
              <a href="{{ section.settings.youtube_link }}" target="_blank" aria-label="YouTube">
                <svg width="43" height="31" viewBox="0 0 43 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42.5717 6.52559C42.5717 6.52559 42.1518 3.56094 40.8584 2.25918C39.2207 0.545899 37.3898 0.5375 36.55 0.436719C30.5367 -2.40281e-07 21.5084 0 21.5084 0H21.4916C21.4916 0 12.4633 -2.40281e-07 6.45 0.436719C5.61016 0.5375 3.7793 0.545899 2.1416 2.25918C0.848242 3.56094 0.436719 6.52559 0.436719 6.52559C0.436719 6.52559 0 10.0109 0 13.4879V16.7465C0 20.2234 0.42832 23.7088 0.42832 23.7088C0.42832 23.7088 0.848242 26.6734 2.1332 27.9752C3.7709 29.6885 5.9209 29.6297 6.87832 29.8145C10.3217 30.142 21.5 30.2428 21.5 30.2428C21.5 30.2428 30.5367 30.226 36.55 29.7977C37.3898 29.6969 39.2207 29.6885 40.8584 27.9752C42.1518 26.6734 42.5717 23.7088 42.5717 23.7088C42.5717 23.7088 43 20.2318 43 16.7465V13.4879C43 10.0109 42.5717 6.52559 42.5717 6.52559ZM17.0572 20.7021V8.6168L28.6723 14.6805L17.0572 20.7021Z" fill="#867065"/></svg>
              </a>
            {% endif %}

            {% if section.settings.twitter_link != blank %}
              <a href="{{ section.settings.twitter_link }}" target="_blank" aria-label="X / Twitter">
                <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.0655 19.1519C14.0873 24.8785 8.36533 24.8967 6.27579 22.7419C5.08683 21.5166 4.84494 19.1415 5.89177 17.5864C7.00692 15.9308 8.3134 15.6597 10.9086 15.8148L10.9318 10.8287C6.49171 9.80018 2.54904 13.0148 1.17559 15.326C-0.857926 18.7478 -0.121322 23.5971 2.37138 26.0152C8.98714 32.4326 19.3392 28.0266 19.3379 19.6004L19.3433 10.3333C20.6826 11.4531 22.4387 12.1323 24.3602 12.1323C25.0312 12.1323 25.6803 12.0501 26.3007 11.895L26.503 11.8872L26.5618 7.01577C22.5877 6.8802 19.3884 3.83899 19.2299 0.0521425L14.0723 0L14.0668 19.1545L14.0655 19.1519Z" fill="#867065"/></svg>
              </a>
            {% endif %}

            {% if section.settings.linkedin_link != blank %}
              <a href="{{ section.settings.linkedin_link }}" target="_blank" aria-label="LinkedIn">
                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.7053 0H2.28867C1.02324 0 0 0.999024 0 2.23418V28.7598C0 29.9949 1.02324 31 2.28867 31H28.7053C29.9707 31 31 29.9949 31 28.7658V2.23418C31 0.999024 29.9707 0 28.7053 0ZM9.19707 26.4166H4.59551V11.6189H9.19707V26.4166ZM6.89629 9.60273C5.41895 9.60273 4.22617 8.40996 4.22617 6.93867C4.22617 5.46738 5.41895 4.27461 6.89629 4.27461C8.36758 4.27461 9.56035 5.46738 9.56035 6.93867C9.56035 8.40391 8.36758 9.60273 6.89629 9.60273ZM26.4166 26.4166H21.8211V19.2236C21.8211 17.5102 21.7908 15.3002 19.4295 15.3002C17.0379 15.3002 16.6746 17.1711 16.6746 19.1025V26.4166H12.0852V11.6189H16.493V13.6412H16.5535C17.165 12.4787 18.6666 11.2496 20.9008 11.2496C25.5568 11.2496 26.4166 14.3133 26.4166 18.2973V26.4166Z" fill="#867065"/></svg>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="disclaimer">
    <p>{{ section.settings.disclaimer }}</p>
  </div>

  <div class="copyright">
    <div class="alcontainer">
      <div class="row">
        <div class="col-6">
          <p>
            <a href="tel:{{ section.settings.phone }}">{{ section.settings.phone }}</a>
            <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
          </p>
        </div>

        <div class="col-6 text-lg-end">
          <p>
            <a href="{{ section.settings.policy_link }}">POLICIES</a>
            &copy; {{ "now" | date: "%Y" }}, {{ shop.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "disclaimer",
      "label": "Disclaimer Text",
      "default": "Alvi’s Drift wines contain up to 13,5% ABV. Not for sale to under 18s. Drink responsibly."
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone Number",
      "default": "021 905 0653"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email Address",
      "default": "wine@alvisdrift.co.za"
    },
    {
      "type": "url",
      "id": "policy_link",
      "label": "Policies Link"
    },
    {
      "type": "header",
      "content": "Social Media Links"
    },
    { "type": "url", "id": "facebook_link", "label": "Facebook" },
    { "type": "url", "id": "instagram_link", "label": "Instagram" },
    { "type": "url", "id": "youtube_link", "label": "YouTube" },
    { "type": "url", "id": "twitter_link", "label": "X / Twitter" },
    { "type": "url", "id": "linkedin_link", "label": "LinkedIn" }
  ],
  "blocks": [
    {
      "type": "menu_column",
      "name": "Menu Column",
      "settings": [
        { "type": "text", "id": "title", "label": "Heading", "default": "Menu" },
        { "type": "link_list", "id": "menu", "label": "Select Menu" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer",
      "blocks": [
        { "type": "menu_column", "settings": { "title": "Our Wines" } },
        { "type": "menu_column", "settings": { "title": "Our Ranges" } },
        { "type": "menu_column", "settings": { "title": "Everything Alvi’s" } }
      ]
    }
  ]
}
{% endschema %}