<section class="home-product-items gift-grid-wrap product-items-sec bg-darkPurple">
  <div class="sec-inner">
    <div class="container">

      {% if section.settings.topheading != blank %}
        <h2 class="h1">{{ section.settings.topheading }}</h2>
      {% endif %}

      <div class="row">
        {% for block in section.blocks %}
          {% assign colName = block.settings.collectionCarasoul %}
          {% assign col = collections[colName] %}

          {% for product in col.products %}
            <div class="col-3">
              <div class="shop-item">

                <!-- Product Image -->
                <div class="product-thumb">
                  <a href="{{ product.url }}">
                    {{ product.featured_image | image_url: width: 325, format: 'webp' | image_tag: loading: 'lazy' }}
                  </a>
                </div>

                <!-- Product Title -->
                <div class="product-cat">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </div>

                <!-- Price -->
                {% if product.compare_at_price > product.price %}
                  <div class="product-price">
                    {{ product.price | money_without_trailing_zeros }}
                    <span>WAS <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del></span>
                  </div>
                {% else %}
                  <div class="product-price">
                    {{ product.price | money_without_trailing_zeros }}
                  </div>
                {% endif %}

              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>

    </div>
  </div>
</section>

    {% schema %}
    {
    "name": "Gifts Grid",
    "settings": [
    {
    "type": "text",
    "id": "topheading",
    "label": "Heading"
    }

    ],
    "blocks": [
    {
    "type": "item",
    "limit": 12,
    "name": "Choose Collection",
    "settings": [
    {	
    "type": "text",
    "id": "collection_heading",
    "label": "Collection Name"
    },
    {
    "type": "collection",
    "id": "collectionCarasoul",
    "label": "Choose Collection"
    }
    ]
    }
    ],
    "presets": [
    {
    "name": "Gifts Grid",
    "category": "Collection",
    "blocks": [
    {
    "type": "item"
    }
    ]
    }
    ]
    }
    {% endschema %}
    {% stylesheet %}

    {% endstylesheet %}