<section>
	<script>
		/* important javascript script to add parallax effect to Home Page */
		/*********** DON'T REMOVE THIS CODE FORM THIS PAGE ***********/
		var body = document.body;
		body.classList.add("parallax-h");
	</script>   
  <!-- Slider/overlay-->  

{% for block in section.blocks %}
 <div class="hero-section">


  <img class="hero-section-bg" src="{{ block.settings.background_image | img_url:'master' }}" data-src="{{ img_url }}" data-width-src = "[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ block.settings.background_image.aspect_ratio }}" data-sizes= "auto" data-parent-fit = "cover" width="{{ block.settings.background_image.width }}" height = "{{ block.settings.background_image.height }}" alt ="{{ block.settings.background_image.image.alt }}">
    {% if block.settings.image_overlay != blank and block.settings.image_overlay != 'rgba(0,0,0,0)' and block.settings.overlay_opacity != blank %}
    {% assign bg_color = block.settings.image_overlay | color_to_rgb %}       
    {% assign opacity = block.settings.overlay_opacity %}       
    {% assign opacityWithEndBracket = ', ' | append: opacity | append: '%)' %}  
    {% assign rgba = bg_color | replace: 'rgb', 'rgba' | replace:')', opacityWithEndBracket %} 
    <div class="hero-overlay-bg" style="background: {{ rgba }}"></div>
  {% else %}
    <div class="hero-overlay-bg"></div>
  {% endif %}
  <div class="hero-section-inner">
    <div class = "hero-main-content">
    <div class="hero-content col-sm">
      <div class="hero-title">
        <h2>
          <span>
            <p class="animate-reveal">{{ block.settings.paragarh_p1 }}</p>
            <p class="animate-reveal">{{ block.settings.paragarh_p2 }}</p>
            <p class="animate-reveal">{{ block.settings.paragarh_p3 }}</p>
            <p class="animate-reveal">{{ block.settings.paragarh_p4 }}</p>
            <p class="animate-reveal">{{ block.settings.paragarh_p5 }}</p>
          </span> 
        </h2> 
      </div>
      <div class = "main_btn">
        <a href="{{ block.settings.btn_link }}" class="btn">{{ block.settings.btn_text }}</a>
      </div>
      </div>
      <div class="hero-txt col-sm"> 
        {% if block.settings.paragarh_1 != blank or block.settings.paragarh_2 != blank %}
        <div class="scrl-sec">
            <span class="scrl-circle"></span>
            <span class="scrl-line"></span>
        </div>
        <div class="hero-txt-c">                    
          <p class="sub-title">{{ block.settings.paragarh_1 }}</p>
          <p>{{ block.settings.paragarh_2 }}</p>
        </div>
        {% endif %}
      </div> 
  </div>
    </div>         
    {% if block.settings.video_banner != blank %}
      <div class="hero-video-btn">
        <a class="hero-video-btn-link" data-autoplay="true" data-vbtype="video" href="https://youtu.be/{{ block.settings.video_banner.id }}?modestbranding=0&autohide=1&showinfo=0&autoplay=0&playsinline=1&autohide=0&disablekb=1&showinfo=0&loop=0&fs=0&rel=0">{% render 'icon-video-btn' %}</a>
      </div>
    {% endif %}
   <div class = "right-hero-icon">
     {% if block.settings.img_icon != blank %}
        <a href ="{{ block.settings.side_btn_link }}"><img src = "{{ block.settings.img_icon | img_url:'master' }}" class = "front-img-icon"width = "110" height = "110" alt = "{{ block.settings.img_icon.image.alt }}"/> </a>   
    {% endif %}
   </div>
      <div class="hero-btn-wrap">
        {% if block.settings.side_btn_text != blank %}
        <a href="{{ block.settings.side_btn_link }}" class="btn">{{ block.settings.side_btn_text }}</a>
        {% endif %}
      </div>  
    <br> 
  </div>
   {% if block.settings.sec_banner != blank %}
   <div class = "sec-banner">
     <img src = "{{ block.settings.sec_banner | img_url:'master' }}"
       srcset="
      {{ block.settings.sec_banner | img_url: '400x' }} 400w,
      {{ block.settings.sec_banner | img_url: '600x' }} 600w,
      {{ block.settings.sec_banner | img_url: '800x' }} 800w,
      {{ block.settings.sec_banner | img_url: 'master' }} 1200w
      "
      class = "second-img" sizes="(max-width: 768px) 100vw, 80vw" loading="eager" alt = "{{ block.settings.sec_banner.alt }}" width = "{{ block.settings.sec_banner.width }}" height = "{{ block.settings.sec_banner.height }}">
     </div>
     {% endif %}
{% endfor %}

</section>
<style>
.animate-reveal {color: {{ section.settings.Heading_color }};font-size: 70px;}@media (min-width:250px) and (max-width:900px) { .animate-reveal {color: {{ section.settings.Heading_color }};font-size: 25px;line-height: 1.5;}
}
</style>
{% schema %}
{
  "name": {
    "en": "Page Header (Hero)"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "image_overlay",
      "label": "Image Overlay Color"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 30,
      "label": "Overlay Opacity"
    },
	  {
      "type": "select",
      "id": "Heading_color",
      "label": "Heading Colour",
      "options": [
        {
          "value": "#ffffff",
          "label": "White"
        },
        {
          "value": "#2e112d",
          "label": "Dark Plum"
        },
        {
          "value": "#f8f2e6",
          "label": "Light Beige"
        }, 
        {
          "value": "#c0ccbe",
          "label": "Light Olive"
        },
        {
          "value": "#aac4d3",
          "label": "Light Blue"
        },
        {
          "value": "#fedcc6",
          "label": "Light Orange"
        }
      ],
      "default": "#ffffff"
    },
    {
      "type": "video_url",
      "accept": ["youtube"],
      "id": "video_banner",
      "label": "Video URL"    },
    {
      "type": "text",
      "id": "paragarh_p1",
      "label": "Heading Line 1"
    },
    {
      "type": "text",
      "id": "paragarh_p2",
      "label": "Heading Line 2"
    },
    {
      "type": "text",
      "id": "paragarh_p3",
      "label": "Heading Line 3"
    },
    {
      "type": "text",
      "id": "paragarh_p4",
      "label": "Heading Line 4"
    },
    {
      "type": "text",
      "id": "paragarh_1",
      "label": "Paragraph Heading"
    },
    {
      "type": "text",
      "id": "paragarh_2",
      "label": "Paragraph Text"
    },
    {
    "type": "text",
    "id": "btn_text",
    "label": "Button Text"
    },
    {
    "type": "url",
    "id": "btn_link",
    "label": "Button Link"
    },
    {
    "type": "url",
    "id": "btn_main_link",
    "label": "Main Button Link"
    }
  ],
  "blocks":[
    {
      "type":"slider",
      "name":"Slide",
      "settings":[
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
        "type": "image_picker",
        "id": "sec_banner",
        "label": "Second Banner Image"
        },
        {
          "type": "color",
          "id": "image_overlay",
          "label": "Image Overlay Color"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "default": 30,
          "label": "Overlay Opacity"
        },
        {
          "type": "image_picker",
          "id": "img_icon",
          "label": "Image Icon on the right"
        },
        {
          "type": "select",
          "id": "Heading_color",
          "label": "Heading Colour",
          "options": [
            {
              "value": "#ffffff",
              "label": "White"
            },
            {
              "value": "#2e112d",
              "label": "Dark Plum"
            },
            {
              "value": "#f8f2e6",
              "label": "Light Beige"
            }, 
            {
              "value": "#c0ccbe",
              "label": "Light Olive"
            },
            {
              "value": "#aac4d3",
              "label": "Light Blue"
            },
            {
              "value": "#fedcc6",
              "label": "Light Orange"
            }
          ],
          "default": "#ffffff"
        },
        {
          "type": "video_url",
          "accept": ["youtube"],
          "id": "video_banner",
          "label": "Video URL"
        },
        {
          "type": "text",
          "id": "paragarh_p1",
          "label": "Heading Line 1"
        },
        {
          "type": "text",
          "id": "paragarh_p2",
          "label": "Heading Line 2"
        },
        {
          "type": "text",
          "id": "paragarh_p3",
          "label": "Heading Line 3"
        },
        {
          "type": "text",
          "id": "paragarh_p4",
          "label": "Heading Line 4"
        },
        {
          "type": "text",
          "id": "paragarh_1",
          "label": "Paragraph Heading"
        },
        {
          "type": "text",
          "id": "paragarh_2",
          "label": "Paragraph Text"
        },
        {
          "type": "text",
          "id": "side_btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "side_btn_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Page Header (Hero)"
      },
      "category": {
        "en": "Banner"
      }
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}