<div class="ald-benefits">
  <div class="alcontainer">
    {% if section.settings.small_heading != blank %}
      <h4 class="heading-small color-lite">{{ section.settings.small_heading }}</h4>
    {% endif %}

    <div class="row">
      {% for block in section.blocks %}
        <div class="col-4">
          <div class="benefits-item">
            {% if block.settings.heading != blank %}
              <h3>{{ block.settings.heading }} {% if block.settings.link != blank %}<a href="{{ block.settings.link }}"></a>{% endif %}</h3>
            {% endif %}
            {% if block.settings.text != blank %}
              {{ block.settings.text }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.settings.banner_image != blank %}
    <img src="{{ section.settings.banner_image | img_url: 'master' }}" alt="Benefits Banner" />
  {% endif %}
</div>

{% schema %}
{
  "name": "New Benefits Section",
  "settings": [
    {
      "type": "text",
      "id": "small_heading",
      "label": "Top Heading",
      "default": "Benefits"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Bottom Banner Image"
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit Item",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Title",
          "default": "People"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }        
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "New Benefits Section",
      "category": "Content",
      "blocks": [
        { "type": "benefit" },
        { "type": "benefit" },
        { "type": "benefit" }
      ]
    }
  ]
}
{% endschema %}