<section class="awc-join-club container">
  {% if customer %}
    {% assign lowertags = customer.tags | downcase %}
    {% assign tier_image = '' %}
    {% assign tier_richtext = '' %}
    {% capture customer_tier_name %}
      {% if lowertags contains 'gold' %}
        Gold
        {% assign tier_image = section.settings.gold_image %}
        {% assign tier_richtext = section.settings.gold_richtext %}
      {% elsif lowertags contains 'silver' %}
        Silver
        {% assign tier_image = section.settings.silver_image %}
        {% assign tier_richtext = section.settings.silver_richtext %}
      {% elsif lowertags contains 'bronze' %}
        Bronze
        {% assign tier_image = section.settings.bronze_image %}
        {% assign tier_richtext = section.settings.bronze_richtext %}
      {% else %}
        Platinum 
        {% assign tier_image = section.settings.platinum_image %}
        {% assign tier_richtext = section.settings.platinum_richtext %}
      {% endif %}
    {% endcapture %}
    {% assign customer_tier = customer_tier_name | strip %}

    <div class="awc-intro--col-v2">
      <h5 class="awc-heading-xs">You Are</h5>
      <h3 class="h1">{{ customer_tier }} Tier</h3>
      <figure>
        <img
          src="{{ tier_image |  image_url }} "
          alt="{{customer_tier}}"
          width="200"
          height="200"
          class="awc-tier-badge" />
      </figure>
    </div>
    <div class="awc-intro--col-v2">
      {{ tier_richtext }}
    </div>
    <div class="awc-point-balance">
      <h3 class="h1">Your Balance</h3>

      <p>
        <strong>Point Balance:</strong>
        <div id="points-container">Loading your points...</div>
      </p>
      <p>
        <small>
          <em>*Please note that Membership point and tier updates can take up to 24 hours to update.</em>
        </small>
      </p>
    </div>
    <script src="{{ 'points-balance.js' | asset_url }}" async></script>
  {% else %}
    <div class="awc-intro--col-v2">
      <h4>Join our Alvi's Drift wine club to enjoy:</h4>
      <ul>
        <li>Members-Only Offers</li>
        <li>Exclusive Discounts</li>
        <li>Invites to One-of-a-Kind Events & Wine Tastings</li>
        <li>Exclusive Content About All Things Wine</li>
      </ul>
    </div>
    <div class="awc-intro--col-v2">
      <p>What’s more, should you progress through our Wine Club’s three tiers to become a Platinum member, you’ll enjoy 10% discount* on purchases from our online wine shop.</p>
      <p>Best of all? Our Alvi’s Drift Wine Club requires no recurring membership fees.</p>
      <small>
        <em>*Excluding selected sales and promotions. Discount is automatically deducted at check-out.</em>
      </small>
    </div>
  {% endif %}

</section>


{% schema %}
  {
    "name": "Wine Club Join Club",
    "settings": [
      {
        "type": "header",
        "content": "Bronze Tier"
      },
      {
        "type": "image_picker",
        "id": "bronze_image",
        "label": "Bronze Tier Image"
      },
      {
        "type": "richtext",
        "id": "bronze_richtext",
        "label": "Rich Text"
      },
      {
        "type": "header",
        "content": "Silver Tier"
      }, {
        "type": "image_picker",
        "id": "silver_image",
        "label": "Silver Tier Image"
      }, {
        "type": "richtext",
        "id": "silver_richtext",
        "label": "Rich Text"
      }, {
        "type": "header",
        "content": "Gold Tier"
      }, {
        "type": "image_picker",
        "id": "gold_image",
        "label": "Gold Tier Image"
      }, {
        "type": "richtext",
        "id": "gold_richtext",
        "label": "Rich Text"
      }, {
        "type": "header",
        "content": "Platinum Tier"
      }, {
        "type": "image_picker",
        "id": "platinum_image",
        "label": "Platinum Tier Image"
      }, {
        "type": "richtext",
        "id": "platinum_richtext",
        "label": "Rich Text"
      }
    ],
    "presets": [
      {
        "name": "Wine Club join club",
        "category": "Wine Club"
      }
    ]
  }

{% endschema %}