<section class="awc-products-events-grid container">
  {% if customer %}
    {% assign lowertags = customer.tags | downcase %}
    {% capture customer_tier_name %}
      {% if lowertags contains 'gold' %}
        Gold
      {% elsif lowertags contains 'silver' %}
        Silver
      {% elsif lowertags contains 'bronze' %}
        Bronze
      {% else %}
        Platinum
      {% endif %}
    {% endcapture %}
    {% assign customer_tier = customer_tier_name | strip %}

    {% comment %} Assign the collection based on the customer tier {% endcomment %}
    {% assign selected_collection = '' %}
    {% if customer_tier == 'Gold' %}
      {% assign selected_collection = section.settings.gold_collection %}
    {% elsif customer_tier == 'Silver' %}
      {% assign selected_collection = section.settings.silver_collection %}
    {% elsif customer_tier == 'Bronze' %}
      {% assign selected_collection = section.settings.bronze_collection %}
    {% elsif customer_tier == 'Platinum' %}
      {% assign selected_collection = section.settings.platinum_collection %}
    {% endif %}

    {% if selected_collection != blank %}
      <div class="awc-hero--content-v2">
        <h1 class="h1">EXCLUSIVE WINES</h1>
        <p class="sub-title">TO {{customer_tier}} CLUB MEMBERS</p>
      </div>

      {% assign collection_object = collections[selected_collection] %}

      {% if collection_object != blank and collection_object.products_count > 0 %}
        <div class="awc-collection-grid">
              {% for product in collection_object.products %}
                <div class="product-bx-v2">
                  <div class="product-img product-img-v2">
                    <a href="{{ product.url }}">
                      <img
                        src="{{ product.featured_image | img_url: 'master' }}"
                        loading="lazy"
                        width="133"
                        height="399"
                        alt="{{ product.title }}">
                    </a>
                  </div>

                  <div class="product-title-v2">
                    <div class="sp-t-v2">
                      <a href="{{ product.url }}">{{ product.title }}</a>
                    </div>
                  </div>

                  {% comment %} Pricing and Discounts Logic {% endcomment %}
                  {% assign price_v = product.selected_or_first_available_variant.price %}
                  {% assign assigned_price = price_v | divided_by: product.metafields.my_fields.cost_per_item %}

                  {% if product.compare_at_price > product.price %}
                    <div class="product-price">
                      <span class="compare-price">
                        {{ product.compare_at_price | money | remove: '.00' | replace: ',', ' ' }}
                      </span> 
                      {{ product.price | money | remove: '.00' | replace: ',', ' ' }}
                    </div>
                  {% else %}
                    <div class="product-price" style="margin-bottom: 15px">
                      {{ product.price | money | remove: '.00' | replace: ',', ' ' }}
                    </div>
                  {% endif %}

                  <div class="product-price-per">
                    R{{ assigned_price | divided_by: 100 }} per Bottle x {{ product.metafields.my_fields.cost_per_item }}
                  </div>

                  {% comment %} Add to Cart Button {% endcomment %}
                  <product-form class="product-form">
                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                      <span class="product-form__error-message"></span>
                    </div>
                    {%- form 'product', product, id: product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

                      <div class="qty__wrapper">
                        QTY:
                        <input
                          class="quantity__input"
                          type="number"
                          name="quantity"
                          id="quantity"
                          min="1"
                          value="1"
                          aria-label="quantity"
                          {%- if product.selected_or_first_available_variant.available == false -%}
                            disabled
                          {%- endif -%}
                        >
                      </div>

                      <div class="product-form__buttons">
                        <button
                          type="submit"
                          name="add"
                          class="btn btn-overlay"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                              BUY
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>
                      </div>
                    {%- endform -%}
                  </product-form>

                </div> 
              {% endfor %}
            </div> 
       
      {% else %}
        <p>No products found in the assigned collection.</p>
      {% endif %}
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div>
        {% for block in section.blocks %}
          <div>
            <span>{{ block.settings.event.title }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</section>


{% schema %}
  {
    "name": "Wine Club Products Events",
    "settings": [
      {
        "type": "header",
        "content": "Exclusive wine Grid"
      },
      {
        "type": "collection",
        "id": "bronze_collection",
        "label": "Bronze Tier Collection"
      },
      {
        "type": "collection",
        "id": "silver_collection",
        "label": "Silver Tier Collection"
      },
      {
        "type": "collection",
        "id": "gold_collection",
        "label": "Gold Tier Collection"
      }, {
        "type": "collection",
        "id": "platinum_collection",
        "label": "Platinum Tier Collection"
      }, {
        "type": "header",
        "content": "Exclusive Collection"
      },{
        "type": "collection",
        "id": "Exclusive_collection",
        "label": "Exclusive Collection"
      },
      {
      "type": "header",
      "content": "Exclusive Events"
    }
  ],
  "blocks": [
    {
      "type": "event",
      "name": "Event",
      "settings": [
        {
          "type": "metaobject",
          "id": "event",
          "label": "Event",
          "metaobject_type": "events"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Wine Club Products & Events Grid",
        "category": "Custom Sections"
      }
    ]
  }
{% endschema %}